.home{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:88.5vh;
    margin: 0;
    background: linear-gradient(180deg,#dbdbdb,#f7f7f7);
}
.home h1{
    text-align: center;
    font-size: 80px;
    font-weight:900;
    color: rgb(39, 18, 93);
}