*{
    box-sizing: border-box;
    
    
}


.container{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 0;
    /* width: 100vw; */
    height: 88.5dvh;
    background: linear-gradient(180deg,#dbdbdb,#f7f7f7);
}



.form{
    padding: 10px 40px;
    background:rgb(13, 6, 93);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 500px;
    /* height: 570px; */
    margin-top: 0;
    min-height: auto;
}

.form h2{
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    color: white;
}


.form-control{
    position: relative;
    margin-bottom: 10px;
    color: white;
}

.form-control input{
    display: block;
    border: 2px solid darkgrey; /*สีกรอบ*/
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-top: 15px;
    
}

.form-control label{
    display: block;
    margin-bottom: 0;
}

.form-control small{
    display: block;
    text-align: left;
    margin-top: 5px; 
}

.form button{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    background: orange;
    color: white;
    font-size: 16px;
}